__pycache__

.DS_Store
._.DS_Store

.ipynb_checkpoints/*

nohup.out

dld/run.sh
dld/data/*.npz
dld/data/**/*.npy
dld/data_debug
dld/saved*
dld/.ipynb_checkpoints/*
dld/grad_cam_results/*
dld/data1
dld/data2
